.overviewSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 0%;
  width: 100%;
  min-height: calc(100dvh - 64px);
  overflow: auto;
}
.title {
  color: var(--black);
  letter-spacing: -0.02em;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}
