.item {
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: var(--radius-md);
  background-color: var(--white);
  flex: 1;
}

@media (max-width: 576px) {
  .item {
    padding: 0.75rem;
  }
}

.itemOption {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.itemLink {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: var(--radius-md);
  font-weight: var(--weight-regular);
}
.itemLink:hover {
  cursor: pointer;
  background-color: var(--lightgray);
}
.itemLink:hover .linkIcon {
  opacity: 1;
  translate: 0px;
}
.linkIcon {
  opacity: 0;
  translate: -4px;
  transition: opacity 0.2s, translate 0.2s;
}
.itemTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  color: var(--darkblue);
  font-weight: var(--weight-semibold);
}
